<launch>
  <node name="serial" pkg="shared_serial" type="server" respawn="true">
	<param name="port_name" value="/dev/roman/threemxl" />
	<param name="port_type" value="RS485_FTDI" />
	<param name="baud_rate" value="921600" />
  </node>
 
  <node ns="arduino_zero" name="nero_arduino_zero" pkg="rosserial_python" type="serial_node.py" args="/dev/roman/arduino_zero" output="screen" />
  <node ns="arduino_duemilanove" name="nero_arduino_duemilanove" pkg="rosserial_python" type="serial_node.py" args="/dev/roman/arduino_duemilanove" output="screen" />

  <!-- start mobile base -->
  <include file="$(find mobile_base)/launch/mobile.launch"/>

  <!-- start arm -->
  <include file="$(find arm)/launch/arm.launch"/>

  <!-- start head -->
  <include file="$(find head)/launch/head.launch"/>

  <!-- start audio processing -->
  <!-- include file="$(find audio_processing)/launch/soundplayer.launch"/ -->

  <!-- start gripper -->
  <include file="$(find gripper)/launch/gripper.launch"/>
  
  <!-- start PS3 controller -->
  <!-- node name="PS3Controller" pkg="logical_unit" type="PS3Controller"/ -->
</launch>
