<launch>
    <arg name="scan_topic" default="narrow_scan" />
    <arg name="map_file" default="$(find logical_unit)/map/map.yaml" />
    <arg name="navmesh_file" default="$(find logical_unit)/navigation/navmesh.bin" />
	
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	
    <include file="$(find image_processing)/launch/kinect.launch"/>

    <node pkg="logical_unit" type="OdometryTracker" name="OdometryTracker"/>
    <node pkg="logical_unit" type="PathPlanner" name="PathPlanner" output="screen" args="$(arg navmesh_file)"/>

    <node pkg="amcl" type="amcl" name="amcl"/>

</launch>
