<launch>
  <group ns="/">
    <node pkg="mobile_base" name="BaseMotorHandler" type="BaseMotorHandler"/>
    <node pkg="mobile_base" name="BaseController" type="BaseController"/>
    <node pkg="mobile_base" name="AutonomeController" type="AutonomeController"/>
    <!-- node pkg="joy" name="joy" type="joy_node"/-->
  </group>

</launch>
