<launch>
    <node name="ps3joy" pkg="ps3joy" type="ps3joy_node.py" output="screen" respawn="true" />
    <node name="joy_node" pkg="joy" type="joy_node" respawn="true" />
    <node name="PS3Controller" pkg="nero_tools" type="PS3Controller" respawn="true" />
    <node name="sixpair" pkg="ps3joy" type="sixpair" args="1c:45:93:5a:fc:a7" output="screen"/>
</launch>
