<launch>

  <group ns="grijpertest">
    <node pkg="grijpertest" name="MotorHandler" type="MotorHandler"/>
    <node pkg="grijpertest" name="KeyListener" type="KeyListener"/>
    <node pkg="grijpertest" name="Controller" type="Controller"/>
    <node pkg="grijpertest" name="TemperatureListener" type="TemperatureListener"/>
  </group>

</launch>
