<launch>
	<node pkg="tf" type="static_transform_publisher" name="base_to_kinect" args="-0.115 0 0.226 0 0 0 base_link kinect_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="kinect_to_kinect_normal_axis" args="0 0 0 0 0 1.57 kinect_frame kinect_normal_axis_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="kinect_normal_axis_to_head" args="0.03 -0.055 -0.12 0 0 0.4 kinect_normal_axis_frame head_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="head_to_arm" args="0.135 -0.08 -0.095 0 0 0 head_frame arm_frame 100" />
	<node pkg="image_processing" name="Kinect" type="Kinect" respawn="true" output="screen"/>
</launch>
