<launch>
    <arg name="scan_topic" default="narrow_scan" />
    <arg name="map_file" default="$(find logical_unit)/map/3me-hallway.yaml" />
    <arg name="navmesh_file" default="$(find logical_unit)/navigation/3me-hallway.bin" />
	
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	
    <!-- include file="$(find image_processing)/launch/kinect.launch"/ -->

    <node pkg="logical_unit" type="OdometryTracker" name="OdometryTracker"/>
    <node pkg="logical_unit" type="PathPlanner" name="PathPlanner" args="$(arg navmesh_file)" output="screen"/>

    <node pkg="amcl" type="amcl" name="amcl"/>

</launch>
