<launch>
  <node name="serial" pkg="shared_serial" type="server" respawn="true">
	<param name="port_name" value="/dev/roman/threemxl" />
	<param name="port_type" value="RS485_FTDI" />
	<param name="baud_rate" value="921600" />
  </node>

  <include file="$(find mobile_base)/launch/mobile.launch"/>
</launch>
