<launch>

  <!-- load database connection parameters -->
  <rosparam command="load" 
            file="$(find image_processing)/config/household_objects_params.yaml"/>

  <!-- start the database wrapper node -->
  <node pkg="household_objects_database" name="objects_database_node" 
        type="objects_database_node" respawn="true" output="screen"/>

  <include file="$(find tabletop_object_detector)/launch/tabletop_complete.launch"/>

  <node pkg="image_processing" name="ObjectRecognition" type="ObjectRecognition" respawn="true" output="screen"/>

  <include file="$(find image_processing)/launch/kinect.launch"/>
</launch>
